<div *ngIf=headerComponent.isHeaderReady class="w3-bar-block" [style.display]="!isVisible ? 'block' : 'none'">

  <a i18n id="makeGame" class="w3-bar-item w3-button w3-padding" (click)="gotoHostSettings()"><i
    class="fas fa-gamepad fa-fw"></i>&nbsp;Maak spel
  </a>

  <a i18n class="w3-bar-item w3-button w3-padding" (click)="gotoSearchGames()"><i class="fas fa-search fa-fw"></i>&nbsp;Zoek
    spel
  </a>
  <a i18n class="w3-bar-item w3-button w3-padding" (click)="gotoGameOverView()"><i class="fas fa-bars fa-fw"></i>&nbsp;Mijn
    spellen
  </a>
  <a i18n="@@friends" class="w3-bar-item w3-button w3-padding" (click)="gotoFriends()"><i class="fa fa-users fa-fw"></i>&nbsp;Vrienden
    <span *ngIf="friendRequestCount>0" class="badge" id="friendBadge">{{friendRequestCount}}</span>
  </a>

  <a i18n="@@statistics" class="w3-bar-item w3-button w3-padding" (click)="gotoSearchUsers()"><i
    class="fas fa-search"></i>Zoek spelers
  </a>
  <a i18n class="w3-bar-item w3-button w3-padding" (click)="gotoRules()"><i class="fas fa-scroll fa-fw"></i>&nbsp;Regels
  </a>
  <a i18n class="w3-bar-item w3-button w3-padding" (click)="gotoAbout()"><i class="fas fa-info-circle fa-fw"></i>&nbsp;Info
  </a>
</div>
<div class="w3-bar-block" [style.display]="isVisible ? 'block' : 'none'">
  <p i18n>Je moet je aanmelden/registreren om gebruik te kunnen maken van alle functionaliteiten.</p>
</div>
