img{
  width: 10%;
}
.chatLijst{
  color: black;
  font-size: 1vw;
  width: 11vw;
  font-family: "Times New Roman", Times, serif;
}

ul {
  list-style-type: none;
}

.btn{
  width: 4vw;
}

.opmaken{
  background-color: white;
  width: 15vw;
}
form {
  float: bottom;
}
