<div class="chatCointainer opmaken">
  <ul >
    <li *ngFor="let message of messages; index as i;" class="chatLijst" >
      <img [src]="'../../assets/Avatars/'+message.avatar">{{message.username}}:{{message.content}}
      <br>{{message.timestamp.substr(11,8)}}
    </li>
  </ul>
  <form [formGroup]="messageForm" class="fixed-bottom">
    <label>
      <input id="invoer" placeholder="Bericht..." type="text" class="form-control chatLijst" max formControlName="message">
    </label>
    <button type="submit" class="btn btn-success" (click)="sendMessage()">Stuur</button>
  </form>
</div>
