i {
  padding: 10px;
}

form {
  font-size: 1.4em;
}

.container {
  padding-top: 5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  font-family: "Times New Roman", Times, serif;
  transform: translate(-50%, -50%);
}

form {
  text-align: center;
}

mat-form-field {
  width: 50%;
}

button {
  margin-top: 2em;
  width: 20%;
}

span{
  font-size: 1rem;
}

.profilecontainer {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: stretch;
  text-align: left;
  flex-direction: column;
}

.statcontainer {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: stretch;
  text-align: left;
  flex-direction: column;
}

.profile {
  padding: 2rem;
}

.statistic {
  padding: 2rem;
}

.profilelabel {
  font-weight: bold;
  padding-right: 5rem;
}

.statlabel {
  font-weight: bold;
  padding-right: 5rem;
}

.navspan {
  font-size: 2rem;
}

.navspan:hover {
  cursor: pointer;
}

img {
  width: 40%;
  height: 40%;
  padding-left: 2rem;
}
