<div class="col-md-6 container">
  <mat-card>
    <mat-card-content [style.display]="isProfilePublic ? 'none' : 'block'">
      <h2>
        {{ username }}'s profiel staat op privé
      </h2>
    </mat-card-content>
    <mat-card-content [style.display]="isProfilePublic ? 'block' : 'none'">
      <h2 class="text-center default-text py-3">
        <i class="fa fa-user" aria-hidden="true"></i><span class="navspan"
                                                           [style.font-weight]="showStatistics ? 'normal' : 'bold'"
                                                           (click)="switchView($event.target.innerText)">{{username}}'s profiel</span>
        |
        <i class="fa fa-bar-chart" aria-hidden="true"></i><span class="navspan"
                                                                [style.font-weight]="!showStatistics ? 'normal' : 'bold'"
                                                                (click)="switchView($event.target.innerText)">{{username}}'s statistieken</span>
      </h2>
      <!--Body-->

      <div class="profilecontainer" [style.display]="showStatistics ? 'none' : 'flex'">
        <div class="profile">
          <mat-label class="profilelabel">Username</mat-label>
          <mat-label>{{ user.username }}</mat-label>
        </div>
        <div class="profile">
          <mat-label class="profilelabel">Email</mat-label>
          <mat-label>{{ user.email }}</mat-label>
        </div>
        <div class="profile">
          <mat-label class="profilelabel">Voornaam</mat-label>
          <mat-label>{{ user.firstName }}</mat-label>
        </div>
        <div class="profile">
          <mat-label class="profilelabel">Achternaam</mat-label>
          <mat-label>{{ user.lastName }}</mat-label>
        </div>
        <div class="profile">
          <mat-label class="profilelabel">Geboortedatum</mat-label>
          <mat-label>{{ userBirthdayString }}</mat-label>
        </div>
        <div class="profile">
          <mat-label class="profilelabel">Avatar</mat-label>
          <img [src]="'../../assets/Avatars/'+ user.avatar">
        </div>
      </div>

      <div class="statcontainer" [style.display]="!showStatistics ? 'none' : 'flex'">
        <div class="statistic">
          <mat-label class="statlabel">Aantal gespeelde games</mat-label>
          <mat-label>{{ statistics.numberOfGames }}</mat-label>
        </div>
        <div class="statistic">
          <mat-label class="statlabel">Aantal gewonnen games</mat-label>
          <mat-label>{{ statistics.numberOfWins }}</mat-label>
        </div>
        <div class="statistic">
          <mat-label class="statlabel">Gemiddelde score</mat-label>
          <mat-label>{{ statistics.averageScore }}</mat-label>
        </div>
        <div class="statistic">
          <mat-label class="statlabel">Topscore</mat-label>
          <mat-label>{{ statistics.topScore }}</mat-label>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
