@font-face {
  font-family: lettertype;
  src: url(../../../assets/Augusta.ttf);
  font-weight:400;
}

h2{
  font-family: lettertype, Helvetica, Arial, sans-serif;
  font-size: 3vw;
  color: white;
  text-align: center;
}
p{
  font-family: lettertype, Helvetica, Arial, sans-serif;
  font-size: 24px;
  color: white;
  text-align: center;
}

img{
  height: 250px;
  width: 350px;
}
