<h2>Info</h2>

<p>We zijn een groepje laatste jaarstudenten van de richting toegepaste informatica. Als gepassioneerde IT'ers hebben we de opdracht gekregen om van een bordspel naar een online multiplayer versie te gaan.
  We hebben dan gekozen voor Machiavelli en het eind product is deze website met de Android compagnon app.</p>
