<h1>Zoek gebruikers</h1>
<form (submit)="searchByUsername()">
  <input name="username" class="inputstyle" [(ngModel)]="searchUsername" placeholder="Gebruikersnaam">
  <button type="submit" class="btn btn-success inviteBtn">Zoeken</button>
</form>
<table mat-table class="mat-elevation-z5" [dataSource]="users" *ngIf="users.length!=0">
  <ng-container matColumnDef="username">
    <th mat-header-cell *matHeaderCellDef>Gebruikersnaam</th>
    <td mat-cell *matCellDef="let user">{{ user.username }}</td>
  </ng-container>
  <ng-container matColumnDef="profile">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let user"><a class="btn btn-success" (click)="gotoProfile(user)">Profiel</a></td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
</table>
<table *ngIf="users.length==0">
  <tr>
    <th class="eerstekolom">Gebruikersnaam</th>
  </tr>
  <tr>
    <td colspan="2"> Geen gebruikers gevonden.</td>
  </tr>
</table>
