table {
  width: 96%;
  margin: 2%;
  font-family: Roboto, "Helvetica Neue", sans-serif;

}

.btn {
  margin-left: 1rem;
  margin-bottom: 0.5rem;
  margin-right: 2rem;
}

th {
  font-weight: 500;
  font-size: 1em;
  color: white;

  background-color: gray;
}
.eerstekolom{
  padding-left: 24px;
}
td {
  font-size: 0.5em;
  text-align: center;
}

form {
  font-size: 0.5em;
  display: inline-block;
  float: right;
}

.inputstyle, .inviteBtn {
  font-size: 1vw;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}


@font-face {
  font-family: lettertype;
  src: url(~src/assets/Augusta.ttf);
  font-weight: 400;
}

h1 {
  font-family: lettertype, Helvetica, Arial, sans-serif;
  font-size: 3vw;
  color: white;
  text-align: center;
}

