.container {
  color: white;
  background-color: black;
  opacity: 0.8;
}

button, a {
  opacity: 1;
  font-size: 22px;
}

a {
  color: red;
}

h2 {
  text-align: center;
}

.errorStyle {
  font-size: 16px;
}

.f-cont {
  width: 40%;
  display: inline-block;
  margin-right: 10%
}

@font-face {
  font-family: lettertype;
  src: url(~src/assets/Augusta.ttf);
  font-weight: 400;
}

h2 {
  font-family: lettertype, Helvetica, Arial, sans-serif;
  font-size: 3vw;
  color: white;
  text-align: center;
}
.f-cont{
  width: 40%;
  display: inline-block;
  margin-right: 10%
}
