<div class="container">
  <h2>Registratie</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="f-cont">
      <div class="form-group">
        <label for="voornaam">Voornaam</label>
        <input type="text" class="form-control" id="voornaam"
               required minlength="2"
               [(ngModel)]="newUser.firstName" name="voornaam"
               #name="ngModel"
        >
        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger errorStyle">
          <div *ngIf="name.errors.required">
            Name is required.
          </div>
          <div *ngIf="name.errors.minlength">
            Name must be at least 2 characters long.
          </div>
        </div>
      </div>
    </div>
    <div class="f-cont">
      <div class="form-group">
        <label for="achternaam">Achternaam</label>
        <input type="text" class="form-control" id="achternaam" required minlength="4"
               [(ngModel)]="newUser.lastName" name="achternaam" #familyname="ngModel">
        <div *ngIf="familyname.invalid && (familyname.dirty || familyname.touched)"
             class="alert alert-danger errorStyle">
          <div *ngIf="familyname.errors.required">
            Name is required.
          </div>
          <div *ngIf="familyname.errors.minlength">
            Name must be at least 4 characters long.
          </div>
        </div>
      </div>
    </div>
    <div class="f-cont">
      <div class="form-group">
        <label for="username">Gebruikersnaam</label>
        <input type="text" class="form-control" id="username" required minlength="2"
               [(ngModel)]="newUser.username" name="username" #username="ngModel">
        <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger errorStyle">
          <div *ngIf="username.errors.required">
            Username is required.
          </div>
          <div *ngIf="username.errors.minlength">
            Name must be at least 2 characters long.
          </div>

        </div>
      </div>
      <div class="alert-danger errorStyle" id="usernameError" style="display: none">
        Username is occupied.
      </div>
    </div>

    <div class="f-cont">
      <div class="form-group">
        <label for="password">Wachtwoord</label>
        <input type="password" class="form-control" id="password" required minlength="6"
               [(ngModel)]="newUser.password" name="password" #password="ngModel">
        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger errorStyle">
          <div *ngIf="password.errors.required">
            Password is required.
          </div>
          <div *ngIf="password.errors.minlength">
            Password must be at least 6 characters long.
          </div>
        </div>
      </div>
    </div>
    <div class="f-cont">
      <div class="form-group">
        <label for="email">E-mail</label>
        <input type="text" class="form-control" id="email" required email
               [(ngModel)]="newUser.email" name="email" #email="ngModel">
        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger errorStyle">
          <div *ngIf="email.errors.required">
            Email is required.
          </div>
          <div *ngIf="email.errors.email">
            Email must be a valid email address.
          </div>
        </div>
        <div class="alert-danger" id="emailError" style="display: none">
          Email is already used.
        </div>
      </div>
    </div>
    <div class="f-cont">
      <div class="form-group">
        <label for="birthday">Geboortedatum</label>
        <input type="date" id="birthday" [(ngModel)]="newUser.birthday" name="birthday" class="form-control"/>
      </div>
    </div>
    <div class="col-md-12 ">
      <div class="form-group ">
        <button type="submit" class="btn btn-success" id="registerbtn">Verzend</button>
        <a routerLink="/login" class="btn btn-link">Meld aan</a>
      </div>
    </div>
  </form>
</div>
