<h2>Instellingen</h2>
<div class="col-md-6 container">
  <mat-card>
    <mat-card-content>
      <div class="setting">
        Meldingen vriendschapsverzoeken
        <label class="switch">
          <input type="checkbox" checked (change)="setFriendRequestNotifs()" [ngModel]="settingsDto.friendRequestNotifications">
          <span class="slider round"></span>
        </label>
      </div>
      <div class="setting">
        Meldingen uitnodigingen voor nieuw spel
        <label class="switch">
          <input type="checkbox" checked (change)="setInviteNotifs()" [ngModel]="settingsDto.inviteNotifications">
          <span class="slider round"></span>
        </label>
      </div>
      <div class="setting">
        Meldingen andere speler beurt gespeeld
        <label class="switch">
          <input type="checkbox" checked (change)="setPlayerPlayedNotifs()" [ngModel]="settingsDto.otherTurnNotifications">
          <span class="slider round"></span>
        </label>
      </div>
      <div class="setting">
        Meldingen jouw beurt
        <label class="switch">
          <input type="checkbox" checked (change)="setMyTurnNotifs()" [ngModel]="settingsDto.myTurnNotifications">
          <span class="slider round"></span>
        </label>
      </div>
      <div class="setting">
        Meldingen jouw beurt verloopt
        <label class="switch">
          <input type="checkbox" checked (change)="setTurnExpiresNotifs()" [ngModel]="settingsDto.turnIsExpiringNotifications">
          <span class="slider round"></span>
        </label>
      </div>
      <div class="setting">
        Meldingen chatberichten
        <label class="switch">
          <input type="checkbox" checked (change)="setChatNotifs()" [ngModel]="settingsDto.chatNotifications">
          <span class="slider round"></span>
        </label>
      </div>
      <div class="setting">
        Publiek profiel
        <label class="switch">
          <input type="checkbox" checked (change)="setPrivacy()" [ngModel]="settingsDto.public">
          <span class="slider round"></span>
        </label>
      </div>
      <button class="btn btn-success" (click)="saveSettings()">Instellingen opslaan</button>
      <div id="meldingsucces" class="alert alert-success" *ngIf="showSuccess">
        De wijzigingen zijn succesvol opgeslagen.
      </div>
    </mat-card-content>
  </mat-card>
</div>
