.w3-card-4 {
  text-align: center;
  padding: 0.5vw 0.5vw 1vw;
  font-size: 0.8vw;
  font-family: "Arial", serif;
}

.notifButtons {
  display: block;
}

.notifButton {
  font-size: 0.8vw;
  margin: 0 0.2vw;
}

h3 {
  font-size: 1vw;
}

i {
  float: left;
  font-size: 1.5vw;
}
