
<ul ngbDropdown>

  <li id="gotoHome" (click)="gotoHome()" [style.display]="'inline'">
      <img id="logo" alt="machiavelli logo" src="../../assets/machiavelli_logo.jpg">
  </li>

  <li id="gotoSignOut" class="button" [style.display]="!isVisible ? 'inline' : 'none'" >
      <a class="button" id="dropdownBasic1" ngbDropdownToggle>{{ username }}</a>
      <div ngbDropdownMenu>
        <a class="dropdown-item" (click)="gotoProfile()">Mijn profiel</a>
        <a class="dropdown-item" (click)="gotoSettings()">Instellingen</a>
        <a class="dropdown-item" (click)="gotoSignOut()">Meld af</a>
      </div>

  </li>
  <li class="button" [style.display]="isVisible ?  'none' : 'inline'" (click)="gotoInvites()">

      Uitnodigingen <span id=inviteBadge class="badge"></span>

  </li>

  <li id="gPin" class="gamePin" style="display: none">GAMEPIN {{gamePin}}</li>

  <li class="button" id="gotoLogin" [style.display]="isVisible ? 'inline' : 'none'" (click)="gotoLogin()">
    <a>
      Meld aan
    </a>
  </li>
  <li class="button" id="gotoRegister" [style.display]="isVisible ? 'inline' : 'none'"
      (click)="gotoRegister()">
    <a>
      Registreer
    </a>
  </li>
</ul>
