@font-face {
  font-family: lettertype;
  src: url(~src/assets/Augusta.ttf);
  font-weight:400;
}

h2{
  font-family: lettertype, Helvetica, Arial, sans-serif;
  font-size: 3vw;
  color: white;
  text-align: center;
}
pdf-viewer{
  height: 100%;
}

