<h2>Scorebord {{game.gameName}}</h2>
<div class="col-md-6 container">
  <mat-card>
    <mat-card-content>
      <div class="pointsHeader">Punten</div>
      <div *ngFor="let player of game.players; index as i">
        {{i + 1}}. {{player.userName}} <span *ngIf="i+1==1">WINNAAR</span> <span class="points">{{player.endGamePoints}}</span>
      </div>
    </mat-card-content>
  </mat-card>
</div>
