.points{
  float: right;
}
.pointsHeader{
  text-align: right;
  display: block;
}
h2 {
  font-family: lettertype, Helvetica, Arial, sans-serif;
  color: white;
  text-align: center;
  font-size: 4vw;
}
