table {
  width: 96%;
  margin: 2%;
}

th {
  text-align: center;
  font-size: 0.7em;
  color: white;
  background-color: #c86400;
}

td {
  text-align: center;
  font-size: 0.5em;
}
tr:nth-child(even){background-color: #f2f2f2;}



button {
  margin: 0.2em;
  font-size: 1em;
  height: 100%;
  width: 100%;
  /*
  background-color: #5fc400;
  */
}
@font-face {
  font-family: lettertype;
  src: url(~src/assets/Augusta.ttf);
  font-weight:400;
}

h1 {
  font-family: lettertype, Helvetica, Arial, sans-serif;
  font-size: 3vw;
  color: white;
  text-align: center;
}
