<h1>Uitnodigingen</h1>
<table mat-table class="mat-elevation-z5" [dataSource]="invites"*ngIf="invites.length!=0">
  <ng-container matColumnDef="remove">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let invite"><button class="btn btn-danger" (click)="remove(invite)">X</button></td>
  </ng-container>
  <ng-container matColumnDef="invitingUserName">
    <th mat-header-cell *matHeaderCellDef>Uitgenodigd door</th>
    <td mat-cell *matCellDef="let invite">{{invite.invitingUserName}}</td>
  </ng-container>
  <ng-container matColumnDef="gameName">
    <th mat-header-cell *matHeaderCellDef>Spel Naam</th>
    <td mat-cell *matCellDef="let invite">{{invite.gameDto.gameName}}</td>
  </ng-container>
  <ng-container matColumnDef="turnDuration">
    <th mat-header-cell *matHeaderCellDef>Beurtduur (sec.)</th>
    <td mat-cell *matCellDef="let invite">{{invite.gameDto.turnDuration}}</td>
  </ng-container>
  <ng-container matColumnDef="reqBuildings">
    <th mat-header-cell *matHeaderCellDef>Benodigde gebouwen</th>
    <td mat-cell *matCellDef="let invite">{{invite.gameDto.reqBuildings}}</td>
  </ng-container>
  <ng-container matColumnDef="maxPlayers">
    <th mat-header-cell *matHeaderCellDef>Aantal spelers</th>
    <td mat-cell *matCellDef="let invite">{{invite.gameDto.nrOfPlayers}}/{{invite.gameDto.maxPlayers}}</td>
  </ng-container>
  <ng-container matColumnDef="joinType">
    <th mat-header-cell *matHeaderCellDef>Toegankelijkheid</th>
    <td mat-cell *matCellDef="let invite" class="joinType">{{invite.gameDto.joinType}}</td>
  </ng-container>
  <ng-container matColumnDef="play">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let invite"><button class="btn btn-danger" (click)="joinGame(invite)">Speel</button></td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
</table>
<table *ngIf="invites.length==0">
  <tr>
    <th>Uitgenodigd door</th>
    <th>Spel naam</th>
    <th>Beurtduur (sec.)</th>
    <th>Benodigde gebouwen</th>
    <th>Aantal spelers</th>
    <th>Toegankelijkheid</th>
  </tr>
  <tr>
    <td colspan="6"> U heeft nog geen uitnodigingen.</td>
  </tr>
</table>
