.amount{
  display: inline-block;
}
.ownCharacterCard{
  display: inline-block;
  margin-left: 2vw;
}
#coins{
  width: 3vw;
}
#coinsContainer{
  display: inline;
  margin-left: 2vw;
}
#hand{
  margin-bottom: 2%;
}
#boughtBuildingCards2{
  margin-top: 10%;
}
#playerInfoTurn{
  color: #c86400;
}
