<div class="grid-container">

  <div class="item1">
    <div class="frame">
      <img id="city" alt="machiavelli stad logo" src="../../../assets/machiavelli_stad.jpg">
    </div>
  </div>


  <div class="item2" >
    <div class="frame">
      <app-menu>
      </app-menu>
    </div>
  </div>
</div>
