@font-face {
  font-family: lettertype;
  src: url(~src/assets/Augusta.ttf);
  font-weight:400;
}

table {
  width: 96%;
  margin: 2%;
}

th {
  text-align: center;
  font-size: 0.7em;
  color: white;
  background-color: grey;
}

td {
  text-align: center;
  font-size: 0.5em;
}
 tr:nth-child(even){background-color: #f2f2f2;}


.lobby {
  background-color: cornflowerblue;
}

.ongoing {
  background-color: #00b100;
}

.ended {
  background-color: orange;
}

.status {
  text-align: center;
}

button {
  margin: 0.2em;
  font-size: 1em;
  height: 100%;
  width: 90%;
  /*
  background-color: #5fc400;
  */
}

h2{
  font-family: lettertype, Helvetica, Arial, sans-serif;
  color: white;
  text-align: center;
  font-size: 3vw;
}


