<h2>Mijn spellen </h2>
<table mat-table class="mat-elevation-z5" [dataSource]="games" *ngIf="games.length!=0">
  <ng-container matColumnDef="gameName">
    <th mat-header-cell *matHeaderCellDef>Spel Naam</th>
    <td mat-cell *matCellDef="let game">{{game.gameName}}</td>
  </ng-container>
  <ng-container matColumnDef="turnDuration">
    <th mat-header-cell *matHeaderCellDef>Beurtduur (sec.)</th>
    <td mat-cell *matCellDef="let game">{{game.turnDuration}}</td>
  </ng-container>
  <ng-container matColumnDef="reqBuildings">
    <th mat-header-cell *matHeaderCellDef>Benodigde gebouwen</th>
    <td mat-cell *matCellDef="let game">{{game.reqBuildings}}</td>
  </ng-container>
  <ng-container matColumnDef="maxPlayers">
    <th mat-header-cell *matHeaderCellDef>Aantal spelers</th>
    <td mat-cell *matCellDef="let game">{{game.nrOfPlayers}}/{{game.maxPlayers}}</td>
  </ng-container>
  <ng-container matColumnDef="joinType">
    <th mat-header-cell *matHeaderCellDef>Toegankelijkheid</th>
    <td mat-cell *matCellDef="let game" class="joinType">{{game.joinType}}</td>
  </ng-container>
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef>Status</th>
    <td mat-cell *matCellDef="let game" class="status">{{game.status}}</td>
  </ng-container>
  <ng-container matColumnDef="play">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let game"><button *ngIf="game.status===0||game.status===1" class="btn btn-success"
                                           (click)="joinGame(game)">Speel</button></td>
  </ng-container>
  <ng-container matColumnDef="leave">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let game"><button *ngIf="game.status===0||game.status===1" class="btn btn-danger"
                                           (click)="leaveGame(game)">Spel verlaten</button></td>
  </ng-container>
  <ng-container matColumnDef="score">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let game"><button *ngIf="game.status===2" class="btn btn-primary" (click)="goToScore(game)">Scorebord</button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
</table>
<table *ngIf="games.length==0">
  <tr>
    <th>Spel naam</th>
    <th>Beurtduur (sec.)</th>
    <th>Benodigde gebouwen</th>
    <th>Toegankelijkheid</th>
    <th>Status</th>
    <th>Aantal spelers</th>
  </tr>
  <tr>
    <td colspan="6"> U heeft nog geen spellen.</td>
  </tr>
</table>
