<div mat-dialog-content>
  <h2>Kies een avatar</h2>
  <br>
  <div class="avatar_container" *ngFor="let avatar of listAvatars">
    <img [src]="'../../assets/Avatars/'+ avatar" (click)="selectAvatar(avatar)">
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data.avatar" cdkFocusInitial>Ok</button>
</div>
