@import url(https://use.fontawesome.com/releases/v5.7.2/css/all.css);

@font-face {
  font-family: lettertype;
  src: url(../../assets/Augusta.ttf);
  font-weight: 400;
}


body {
  font-family: lettertype, Helvetica, Arial, sans-serif;
  font-size: 2vw;
  background-image: url("../../assets/fort-background.jpg");
  background-size: 100%;
}

h2 {
  color: white;
  text-align: center;
}

.notificationboxContainter {
  position: fixed;
  right: 1%;
  top: 83%
}
