<!--The content below is only a placeholder and can be replaced.-->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>
<app-header></app-header>
  <app-notificationbox *ngIf="headerComponent.isHeaderReady" class="notificationboxContainter">>
  </app-notificationbox>
<router-outlet></router-outlet>
</body>
<!--
<div id="wrapper">
<div id="first"><app-player-screen></app-player-screen></div>
<div id="second"><app-player-screen></app-player-screen></div>
<div id="third"><app-player-screen></app-player-screen></div>

</div>-->


