<div class="boughtBuildingCards">
  <app-building
    *ngFor="let building of boughtBuildingCards; index as i"
    [buildingCard]="building"
    [isRival]="false">
  </app-building>
</div>
<div class="hand">
  <img id="handImg" src="../../../../../assets/hand.png">
  <app-building (myBuilding)="buyBuilding($event)" *ngFor="let building of handBuildingCards; index as i"
                [buildingCard]="building"
                [isRival]="false">

  </app-building>
  <app-character-card id="ownCharacterCard"
                      *ngIf="player.characterCard != null"
                      [characterCard]="player.characterCard"
                      [isRival]="false">
  </app-character-card>
  <div id="coinsContainer">
    <img id="coins" alt="munten" [src]="'../../../../assets/coin.png'"> {{player.nrOfCoins}}
  </div>
</div>
