<mat-drawer-container class="mContainer">
  <div *ngIf="isJoined">
    <div *ngFor="let player of players; index as i">
      <div *ngIf="i<4" class="itemContainer w3-card-4 w3-brown">
        <div class="w3-container w3-center item">
          <div class="username">{{ player.userName }}
            <span *ngIf="player.host">(host) </span></div>
          <img [src]="'../../assets/Avatars/'+player.avatar">
        </div>
      </div>
      <button (click)="open()" *ngIf="players.length<game.maxPlayers && i===players.length-1 && players.length<5"
              class="w3-button w3-teal plus">+
      </button>
    </div>
    <div *ngFor="let player of players.slice(4); index as i">
      <div class="itemContainer w3-card-4 w3-brown">
        <div class="w3-container w3-center item">
          {{ player.userName }}
          <span *ngIf="player.host">(host)</span>
          <img [src]="'../../assets/Avatars/'+player.avatar">
        </div>
      </div>
      <button (click)="open()" *ngIf="players.length<game.maxPlayers && i+4===players.length-1 && players.length>=5"
              class="w3-button w3-teal plus">+
      </button>
    </div>
    <button id="startGame" *ngIf="userName===hostName" type="submit" class=" start w3-teal w3-button"
            (click)="startGame()">
      Start
    </button>
    <button type="button" mat-button (click)="drawer.toggle()" class="btn chatbtn">
      <a class="btn btn-success far fa-comments fa-lg"></a>
    </button>
  </div>


</mat-drawer-container>
<mat-drawer mode="side" #drawer mode="side" align="end">
  <app-chat *ngIf="lobbyReady">
  </app-chat>
  <button type="button" mat-button (click)="drawer.toggle()" class="btn">
    <a class="btn btn-danger fas fa-times fa-sm fixed-top"></a>

  </button>
</mat-drawer>
<div *ngIf="!isJoined">
  Geen toegang
</div>
