div {
  color: white;
}

span {
  font-family: "Times New Roman", Times, serif;

}

button {
  font-size: 42px;
}

img {
  max-width: 80%;
  height: auto;
  border-radius: 5px 5px 0 0;
  padding-bottom: 1vw;
}

.itemContainer {
  min-width: 15vw;
  max-width: 15vw;
  height: 12vw;
  float: left;
  margin: 3vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.itemContainer :hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.plus{
  font-family: Arial, serif;
  font-size: 6vw;
  margin: 3vw ;
  width: 15vw;
  height: 12vw;

}
.item{
  font-size: 2vw;
}

.username{
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

.start{
  font-size: 2vw;
  border: 1vw inset grey;
  float: right;
  padding: 1vw;
  margin-right:2vw;
}
.chatbtn{
  font-size: 3vw;
  float: left;
  padding: 1vw;
}

.mContainer{
  background: none;
}

.fixed-top {
  display: inline-block;
  position: fixed;
  top: 0;
  width: 15vw;
  left: 0;
}

