<h2>Zoek een spel</h2>
<table mat-table class="mat-elevation-z5" [dataSource]="games">
  <ng-container matColumnDef="gameName">
    <th mat-header-cell *matHeaderCellDef>Spel Naam</th>
    <td mat-cell *matCellDef="let game">{{game.gameName}}</td>
  </ng-container>
  <ng-container matColumnDef="turnDuration">
    <th mat-header-cell *matHeaderCellDef>Beurtduur (sec.)</th>
    <td mat-cell *matCellDef="let game">{{game.turnDuration}}</td>
  </ng-container>
  <ng-container matColumnDef="reqBuildings">
    <th mat-header-cell *matHeaderCellDef>Benodigde gebouwen</th>
    <td mat-cell *matCellDef="let game">{{game.reqBuildings}}</td>
  </ng-container>

  <ng-container *ngIf="isFull" matColumnDef="maxPlayers">
    <th mat-header-cell *matHeaderCellDef>Aantal spelers</th>
    <td mat-cell *matCellDef="let game">{{game.maxPlayers}}/{{game.maxPlayers}}</td>
  </ng-container>


  <ng-container *ngIf="!isFull" matColumnDef="maxPlayers">
    <th mat-header-cell *matHeaderCellDef>Aantal spelers</th>
    <td mat-cell *matCellDef="let game">{{game.nrOfPlayers}}/{{game.maxPlayers}}</td>
  </ng-container>

  <ng-container matColumnDef="play">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let game"><button class="btn btn-danger" (click)="joinLobby(game)">Speel</button></td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
</table>
