<div class="friendHeader">
  <h1>Ontvangen vriendschapsverzoeken</h1>
</div>
<table mat-table class="mat-elevation-z5" [dataSource]="receivedFriendRequests" *ngIf="receivedFriendRequests.length!=0">
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef>Ontvangen op</th>
    <td mat-cell *matCellDef="let friendRequest">{{friendRequest.parsedTimestamp }}</td>
  </ng-container>
  <ng-container matColumnDef="userName">
    <th mat-header-cell *matHeaderCellDef>Gebruikersnaam</th>
    <td mat-cell *matCellDef="let friendRequest">{{friendRequest.sender}}</td>
  </ng-container>
  <ng-container matColumnDef="acceptRequest">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let friendRequest"><a class="btn btn-success fas fa-check fa-lg"
                                                    (click)="acceptRequest(friendRequest)"></a></td>
  </ng-container>
  <ng-container matColumnDef="denyRequest">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let friendRequest"><a class="btn btn-danger fas fa-times fa-lg"
                                                    (click)="denyRequest(friendRequest)"></a>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="requestColumnsToDisplay"></tr>
  <tr mat-row *matRowDef="let row; columns: requestColumnsToDisplay"></tr>
</table>

<table *ngIf="receivedFriendRequests.length==0">
  <tr>
    <th class="eerstekolom">Ontvangen op</th>
    <th>Gebruikersnaam</th>
  </tr>
  <tr>
    <td colspan="2" class="emptystates"> Geen ontvangen vriendschapsverzoeken.</td>
  </tr>
</table>



<div class="friendHeader">
  <h1>Verzonden vriendschapsverzoeken</h1>
</div>
<table mat-table class="mat-elevation-z5" [dataSource]="sentFriendRequests"  *ngIf="sentFriendRequests.length!=0">
  <ng-container matColumnDef="sentDate">
    <th mat-header-cell *matHeaderCellDef>Verzonden op</th>
    <td mat-cell *matCellDef="let friendRequest">{{friendRequest.parsedTimestamp}}</td>
  </ng-container>
  <ng-container matColumnDef="receiverUserName">
    <th mat-header-cell *matHeaderCellDef>Gebruikersnaam</th>
    <td mat-cell *matCellDef="let friendRequest">{{friendRequest.receiver}}</td>
  </ng-container>
  <ng-container matColumnDef="removeSentRequest">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let friendRequest"><a class="btn btn-danger fas fa-times fa-lg"(click)="removeRequest(friendRequest)"></a></td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="sentRequestColumnsToDisplay"></tr>
  <tr mat-row *matRowDef="let row; columns: sentRequestColumnsToDisplay"></tr>
</table>

<table *ngIf="sentFriendRequests.length==0">
  <tr>
    <th class="eerstekolom">Verzonden op</th>
    <th>Gebruikersnaam</th>
  </tr>
  <tr>
    <td colspan="2"  class="emptystates"> Geen verzonden vriendschapsverzoeken.</td>
  </tr>
</table>


<div class="friendHeader">
  <h1>Vrienden</h1>
  <form [formGroup]="addFriendForm">
    <mat-form-field>
      <input matInput type="text" id="addFriend" class="form-control" formControlName="enteredUsername">
      <mat-label class="inputstyle" for="addFriend">Gebruikersnaam</mat-label>
    </mat-form-field>
    <a class="btn"></a>
    <button type="submit" class="btn btn-success inputstyle" (click)="addFriend()">Vriend toevoegen</button>
  </form>
  <div id="requestResponse" class="alert alert-danger" style="display: none">
    {{friendRequestResponse}}
  </div>
  <table mat-table class="mat-elevation-z5" [dataSource]="friends" *ngIf="friends.length!=0">
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let friend"><i class="fas fa-circle"></i></td>
    </ng-container>
    <ng-container matColumnDef="userName">
      <th mat-header-cell *matHeaderCellDef>Gebruikersnaam</th>
      <td mat-cell *matCellDef="let friend">{{friend.userName}}</td>
    </ng-container>
    <ng-container matColumnDef="gotoFriendProfile">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let friend"><a class="btn btn-success" (click)="gotoFriendProfile(friend)">Profiel</a></td>
    </ng-container>
    <ng-container matColumnDef="removeFriend">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let friend"><a class="btn btn-danger" (click)="removeFriend(friend)">Verwijder
        vriend</a></td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="friendColumnsToDisplay  "></tr>
    <tr mat-row *matRowDef="let row; columns: friendColumnsToDisplay"></tr>
  </table>
</div>
<table *ngIf="friends.length==0">
  <tr>
    <th class="eerstekolom">Gebruikersnaam</th>
  </tr>
  <tr>
    <td colspan="2" class="emptystates"> U heeft voorlopig geen toegevoegde vrienden.</td>
  </tr>
</table>

