<div class="col-md-6 container">
  <mat-card>
    <mat-card-content>
      <h2 class="text-center default-text py-3">
        <i class="fa fa-user" aria-hidden="true"></i><span class="navspan"
                                                           [style.font-weight]="showStatistics ? 'normal' : 'bold'"
                                                           (click)="switchView($event.target.innerText)">Mijn profiel</span>
        |
        <i class="fa fa-bar-chart" aria-hidden="true"></i><span class="navspan"
                                                                [style.font-weight]="!showStatistics ? 'normal' : 'bold'"
                                                                (click)="switchView($event.target.innerText)">Mijn statistieken</span>
      </h2>
      <!--Body-->

      <form [formGroup]="profileForm" [style.display]="showStatistics ? 'none' : 'inline'">
        <div>
          <i class="fa fa-align-left prefix grey-text"></i>
          <mat-form-field>
            <input matInput type="text" id="username" class="form-control" formControlName="username" required>
            <mat-label for="username">Username</mat-label>
          </mat-form-field>
        </div>
        <div>
          <i class="fa fa-address-book" aria-hidden="true"></i>
          <mat-form-field>
            <input matInput type="text" id="email" class="form-control" formControlName="email" required>
            <mat-label class="active" for="email">Email</mat-label>
          </mat-form-field>
        </div>
        <div>
          <i class="fas fa-city prefix grey-text"></i>
          <mat-form-field>
            <input matInput type="text" id="firstname" class="form-control" formControlName="firstname" required>
            <mat-label class="active" for="firstname">Voornaam</mat-label>
          </mat-form-field>
        </div>
        <div>
          <i class="fas fa-user-friends prefix grey-text"></i>
          <mat-form-field>
            <input matInput type="text" id="lastname" class="form-control" formControlName="lastname" required>
            <mat-label class="active" for="lastname">Achternaam</mat-label>
          </mat-form-field>
        </div>
        <div>
          <i class="fas fa-lock-open prefix grey-text"></i>
          <mat-form-field>
            <input matInput type="password" id="password" class="form-control" formControlName="password">
            <mat-label class="active" for="password">Wachtwoord</mat-label>
          </mat-form-field>
        </div>
        <div>
          <i class="fas fa-lock-open prefix grey-text"></i>
          <mat-form-field>
            <input matInput type="password" id="repeat_password" class="form-control" formControlName="repeat_password">
            <mat-label class="active" for="repeat_password">Herhaal wachtwoord</mat-label>
          </mat-form-field>
        </div>
        <div class="pick_avatar">
          <img [src]="'../../assets/Avatars/'+ newAvatar">
          <button mat-raised-button id="button_avatar" (click)="openDialog()">Kies een avatar</button>
          <!--<br>-->
          <!--<mat-label>Je hebt gekozen: {{ newAvatar }}</mat-label>-->
        </div>

        <div class="text-center">
          <button id="saveUser" type="submit" class="btn btn-success" (click)="saveUser()">Sla wijzigingen op
          </button>
        </div>
        <div id="meldingsucces" class="alert alert-success" style="display: none">
          De wijzigingen zijn succesvol opgeslagen.
        </div>
      </form>
      <span [style.display]="showStatistics ? 'none' : 'inline'">* verplicht</span>

      <div class="statcontainer" [style.display]="!showStatistics ? 'none' : 'flex'">
        <div class="statistic">
          <mat-label class="statlabel">Aantal gespeelde games</mat-label>
          <mat-label>{{ statistics.numberOfGames }}</mat-label>
        </div>
        <div class="statistic">
          <mat-label class="statlabel">Aantal gewonnen games</mat-label>
          <mat-label>{{ statistics.numberOfWins }}</mat-label>
        </div>
        <div class="statistic">
          <mat-label class="statlabel">Gemiddelde score</mat-label>
          <mat-label>{{ statistics.averageScore }}</mat-label>
        </div>
        <div class="statistic">
          <mat-label class="statlabel">Topscore</mat-label>
          <mat-label>{{ statistics.topScore }}</mat-label>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
