i {
  padding: 10px;
}

form {
  font-size: 1.4em;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  font-family: "Times New Roman", Times, serif;
  transform: translate(-50%, -50%);
}

form {
  text-align: center;
}

mat-form-field {
  width: 50%;
}

button {
  margin-top: 2em;
  width: 20%;
}

span{
  font-size: 1rem;
}
