
<h2>
Of meld je aan met Sociale Media
</h2>
<button class="btn btn-info" (click)="socialSignIn('facebook')">Meld je aan met Facebook</button>
<button class="btn btn-info" (click)="socialSignIn('google')">Meld je aan met Google</button>
