@font-face {
  font-family: lettertype;
  src: url(../../../assets/Augusta.ttf);
  font-weight:400;
}

h2{
  font-family: lettertype, Helvetica, Arial, sans-serif;
  font-size: 3vw;
  color: white;
  text-align: center;
}




button{
  font-size: 22px;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
}

