.gameContainer {
  color: white;
  height: 91vh;
}

@font-face {
  font-family: lettertype;
  src: url(../../../../assets/Augusta.ttf);
  font-weight: 400;
}

h3 {
  font-family: lettertype, Helvetica, Arial, sans-serif;
  font-size: 40px;
  color: white;
  text-align: center;
}

div {
  color: white;
}

.chooseCharacter {
  position: absolute;
  top: 92%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.chatbtn {
  top: 90%;
  padding: 1vw;
  position: absolute;
}

.mContainer {
  background: none;
}

#center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#rival0 {
  position: absolute;
  left: 1%;
  top: 0;
}

#rival1 {
  position: absolute;
  left: 24%;
  top: 0;
}

#rival2 {
  position: absolute;
  left: 60%;
  top: 0;
}

#rival3 {
  position: absolute;
  left: 80%;
  top: 0;
}

#rival4 {
  position: absolute;
  left: 1%;
  top: 50%;
}

#rival5 {
  position: absolute;
  left: 83%;
  top: 50%;
}

#timer {
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translate(-50%, -50%);
}
#options{
  position: absolute;
  top: 90%;
  left: 80%;
  transform: translate(-50%, -50%);
}

.fixed-top {
  position: fixed;
  top: 0;
  width: 15vw;
  left: 0;
}
.readyBtn{
  position: absolute;
  top: 90%;
  left: 90%;
  transform: translate(-50%, -50%);
}
