<mat-drawer-container class="mContainer">
  <div class="gameContainer">
    <div *ngIf="isJoined">
      <!--<div *ngIf="!allPlayersChosen() && ((coinCardOrder === game.playerTurn) && isMyTurn )">-->
      <div *ngIf="isMyTurn && game.playersChosen" id="options">
        <button class="w3-button w3-teal" (click)="open()">Opties</button>
      </div>
      <div class="readyBtn" *ngIf="isMyTurn && game.playersChosen">
        <button class="w3-button w3-teal" (click)="nextCharacter()">Klaar</button>
      </div>

      <app-game-dock (gameChanged)="onGameChanged($event)"
                     [player]="player"
                     [characters]="game.characterCards"
                     [gameId]="game.id"
                     [buildingCards]="player.buildingCards"
                     [handBuildingCards]="handBuildingCards"
                     [boughtBuildingCards]="boughtBuildingCards"
                     [verderBtn]="displayBtn"
                     [myTurn]="isMyTurn"
                     [doneChosing]="doneChosing">
      </app-game-dock>
      <div class="chooseCharacter" *ngIf="!game.playersChosen && isMyTurn">
        <app-character-card *ngFor="let character of characterCardsToChooseFrom; index as i"
                            (change)="asignCharacter($event)"
                            [characterCard]="character">

        </app-character-card>
        <!--In 7 player games, the last choosing player can also pick the middle face down character-->
        <app-character-card *ngIf="game.players.length===7&&chooseCardTurn&&game.playerTurn===7 && player.orderNr===7"
                            (change)="asignCharacter($event)"
                            [characterCard]="middleFaceDownCharacterCards">
        </app-character-card>
      </div>
      <app-rival-screen *ngFor="let rival of rivals; index as i" id="rival{{i}}"
                        [player]="rival"
                        [buildingCard]="game.buildingCards[0]"
                        [playerTurn]="game.playerTurn"
                        [characterTurn]="game.characterTurn"
                        (destroyBuilding)="warLordDestroyBuilding($event)">
      </app-rival-screen>
      <app-center id="center" [middleFaceUpCharacterCards]="middleFaceUpCharacterCards"
                  [middleFaceDownCharacterCards]="middleFaceDownCharacterCards"
                  [playerOrderNr]="player.orderNr">
      </app-center>
      <app-timer id="timer"></app-timer>
      <button type="button" mat-button (click)="drawer.toggle()" class="btn chatbtn">
        <a class="btn btn-success far fa-comments fa-lg"></a>
      </button>
    </div>
    <div *ngIf="!isJoined">Even Geduld</div>
  </div>

</mat-drawer-container>
<mat-drawer mode="side" #drawer mode="side" align="end">
  <app-chat *ngIf="isJoined">
  </app-chat>
  <button type="button" mat-button (click)="drawer.toggle()" class="btn">
    <a class="btn btn-danger fas fa-times fa-sm fixed-top"></a>
  </button>
</mat-drawer>
